.header {
  height: 8em;
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  /* width: 10vw; */
  height: 10vw;
  /* max-width: 80px; */
  transform: scaleX(-1);
  max-height: 80px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 5%;
  object-fit: cover;
  transition: width 0.3s ease, height 0.3s ease;
}


@media (max-width: 600px) {
  .header {
    height: 6em;
  }
}
